<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prabhendu.connectme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstScreen"
            android:label="@string/title_activity_first_screen"
            android:parentActivityName=".roledivider" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prabhendu.connectme.roledivider" />
        </activity>
        <activity
            android:name=".SecondScreen"
            android:label="second_screen"
            android:parentActivityName=".FirstScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prabhendu.connectme.FirstScreen" />
        </activity>
        <activity
            android:name=".ThirdScreen"
            android:label="@string/title_activity_third_screen"
            android:parentActivityName=".SecondScreen" >
        </activity>
        <activity
            android:name=".SelfProfile"
            android:label="@string/title_activity_self_profile"
            android:parentActivityName=".FirstScreen" >
        </activity>
        <activity
            android:name=".SearchCompanies"
            android:label="SearchCompanies"
            android:parentActivityName=".FirstScreen" >
        </activity>
        <activity
            android:name=".roledivider"
            android:label="@string/title_activity_roledivider"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prabhendu.connectme.MainActivity" />
        </activity>
        <activity
            android:name=".RecruiterTagScreen"
            android:label="@string/title_activity_recruiter_first_screen"
            android:parentActivityName=".roledivider" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prabhendu.connectme.roledivider" />
        </activity>
        <activity
            android:name=".RecruiterResumeScreen"
            android:label="@string/title_activity_recruiter_resume_screen"
            android:parentActivityName=".RecruiterTagScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prabhendu.connectme.RecruiterTagScreen" />
        </activity>
    </application>

</manifest>
